<!DOCTYPE html>
<html>
  <head>
    <title>RemotePrinterWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main >
      <div class="bg-red-600 shadow-md shadow-stone-500 bg-gradient-to-r flex justify-between items-center">
        <h1 class="text-3xl text-white p-5 font-serif font-bold">RemotePrinterWeb</h1>
        <h1 class="text-xl text-white p-5 font-serif font-bold">Usuario: <%= $user %></h1>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
